:root {
	--tomato-red: #b52032;
	--crusty-brown: #a66c48;
	--clean-white: #ebedef;
	--cool-grey: #c4c7cf;
	--icy-blue: #dbe4e2;

	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

/* Choose from the palette and integrate the colors into your component CSS. */

body {
	margin: 0;
	padding: 0;
}

.header-main {
	background-color: var(--tomato-red);
	height: 30vh;
	margin: 0;
	padding: 0;
	border-bottom: 3px solid black;
	display: flex;
	align-items: center;
}

#site-logo {
	min-width: 150px;
	min-height: 150px;
	max-width: 200px;
	max-height: 200px;
	margin-left: 20px;
	border: 3px solid black;
}

.body-main {
	display: flex;
	height: 80vh;
}

#Searchbox-container {
	width: 30%;
	border-right: 1.5px solid black;
	padding: 20px;
}

#Result-container {
	width: 50%;
	border-right: 1.5px solid black;
	padding: 20px;
	padding: 20px;
}

#Cart-container {
	padding: 20px;
	width: 20%;
	display: flex;
}

.footer-main {
	padding: 20px;
	background-color: var(--icy-blue);
	height: 30vh;
	border-top: 1.5px solid black;
}

#cart-icon {
	width: 80px;
	height: 80px;
	margin-left: 50px;
}
