:root {
	--tomato-red: #b52032;
	--crusty-brown: #a66c48;
	--clean-white: #ebedef;
	--cool-grey: #c4c7cf;
	--icy-blue: #dbe4e2;

	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

/* Choose from the palette and integrate the colors into your component CSS. */

body {
	margin: 0;
	padding: 0;
}

.header-main {
	background-color: var(--tomato-red);
	height: 30vh;
	width: 100%;
	margin: 0;
	padding: 0;
	border-bottom: 3px solid black;
	display: flex;
	align-items: center;
}

#site-logo {
	min-width: 150px;
	min-height: 150px;
	max-width: 200px;
	max-height: 200px;
	margin-left: 20px;
	border: 3px solid black;
}

.body-main {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}

.body-main > :first-child {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 280px;
}
.body-main > :last-child {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 280px;
}

.body-main > :second-child {
	flex-grow: 3;
	flex-shrink: 1;
	flex-basis: 280px;
}

#Searchbox-container {
	border: 1px solid black;
	padding: 20px;

	min-height: 280px;
}

#Result-container {
	border: 1px solid black;
	padding: 20px;
	min-width: 40vw;
	padding: 20px;
	min-height: 280px;
}

#Cart-container {
	border: 1px solid black;
	min-height: 280px;

	padding: 20px;
	display: flex;
	flex-direction: column;
}

.footer-main {
	padding: 20px;
	background-color: var(--icy-blue);
	height: 33vh;
	width: 100%;
	border-top: 1.5px solid black;
}

#container-footer {
	display: flex;
	flex-wrap: wrap;
}

#container-footer > :first-child {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 350px;
}

#container-footer > :last-child {
	flex-grow: 3;
	flex-shrink: 2;
	flex-basis: 350px;
}

#cart-icon {
	width: 80px;
	height: 80px;
	margin-left: 50px;
}
