:root {
	--tomato-red: #b52032;
	--crusty-brown: #a66c48;
	--clean-white: #ebedef;
	--cool-grey: #c4c7cf;
	--icy-blue: #dbe4e2;

	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

/* Choose from the palette and integrate the colors into your component CSS. */

body {
	margin: 0;
	padding: 0;
}
.header-main {
	background-color: var(--tomato-red);
	height: 30vh;
	margin: 0;
	padding: 0;
	border-bottom: 3px solid black;
}

#site-logo {
	width: 150px;
	height: 150px;
	margin: 20px;
	border: 3px solid black;
}
