.total {
	font-weight: bold;
}

table {
	table-layout: fixed;
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
	background-color: var(--cool-grey);
}

td {
	padding: 15px;
	letter-spacing: 2px;
}
