.min {
    width: 75px;
    text-align: center;
}

.max {
    width: 75px;
    text-align: center;
}

.price-label {
    margin-bottom: 5px;
    font-size: small;
}

form {
    margin-bottom: 10px;
}

.price-filters {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    width: 200px;
}