.sort-filters {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 2.5px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    margin-right: 15px;
    margin: 15px;
    width: 200px;
  }

  .sort-label {
      margin-bottom: 5px;
      font-size: small;
    }